.about-section {
  align-items: center;
  background-color: #24263B;
  color:#FFF;
  display: flex;
  justify-content: center;
  min-height: 90vh;
  padding: 30px 0;
}

.about-main-text {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.about-role {
  align-items: center;
  display: flex;
  padding: 50px;
}

.about-role > .primary-text {
  border-right: 2px solid #FFF;
  padding: 10px 30px;
  width: 40vw;
}

.about-role > .primary-text > p {
  font-size: 18px;
}

.about-picture{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0 0 var(--white);
  border-radius: 50%;
  height: 480px;
  margin: 0 0 0 100px;
  width: 480px;
}

.about-picture-background {
  height: 92%;
  width: 92%;
  background-image: url('../assets/images/ProfilePicture.png');
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.about-picture-background:hover {
  transform: scale(1.07);
  transition: 1s
  ease-out;
}

@media screen and (max-width: 1300px) {
  .about-role {
    padding: 10px;
  }

  .about-picture {
    height: 150px;
    width: 150px;
    margin: auto;
  }

  .about-role {
    flex-direction: column-reverse;
  }

  .about-role > .primary-text {
    border: none;
    margin-top: 30px;
    padding: 0;
    width: 80vw;
  }
}

@media screen and (max-width: 600px) {
  .about-main-text {
    font-size: 25px;
  }

  .about-role > .primary-text > p {
    font-size: 12px;
  }
}

@media screen and (max-width: 450px) {
  .about-section {
    padding: 10px 0;
  }

  .about-picture {
    height: 100px;
    width: 100px;
  }
}