.about-section {
  align-items: center;
  background-color: #24263B;
  color:#FFF;
  display: flex;
  height: 90vh;
  justify-content: center;
}

.about-main-text {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.about-role {
  align-items: center;
  display: flex;
  margin: 50px;
}

.about-role > .primary-text {
  border-right: 2px solid #FFF;
  padding: 10px 30px;
  width: 40vw;
}

.about-role > .primary-text > p {
  font-size: 20px;
}

.about-picture{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0 0 var(--white);
  border-radius: 50%;
  height: 480px;
  width: 480px;
  margin: 0 0 0 100px;
}

.about-picture-background {
  height: 92%;
  width: 92%;
  background-image: url('../assets/ProfilePicture.png');
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.about-picture-background:hover {
  transform: scale(1.07);
  transition: 1s
  ease-out;
}
