.profile-container {
  display: flex;
  align-items: center;
  background-color: #24263B;
  text-align: center;
  justify-content: center;
  height: 90vh;
  min-width: fit-content;
}

.profile-parent {
  align-items: center;
  display: flex;
  color: #FFF;
  justify-content: center;
  padding: 0 50px;
}

.profile-details {
  border-right: 2px solid #FFF;
  padding: 0 25px;
}

.colz .colz-icon i {
  color: white;
  font-size: 25px;
  padding: 0 10px;
}

.colz .colz-icon i:hover {
  transform: scale(1.5);
}

.profile-details-name{
  font-size: 24px;
  font-family: "Poppins SemiBold";
  padding: 15px 0;
}

.profile-details-role {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.profile-details-role h1 {
  font-size: 40px;
  font-family: cursive;
}

.primary-text {
  color: (--white);
}

.highlighted-text {
  color: var( --dark-orange);
}

.profile-role-tagline{
  font-size: 19px;
  margin: 0;
  font-family: "Poppins Light";
}

.profile-options .highlighted-btn {
  margin: 0 20px;
}

.profile-options .highlighted-btn:hover {
  background-color: cornsilk;
  color: #111;
}

.profile-picture{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0 0 var(--white);
  border-radius: 50%;
  height: 380px;
  width: 380px;
}

.profile-picture-background {
  height: 92%;
  width: 92%;
  background-image: url('../assets/ProfilePicture.png');
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.profile-picture-background:hover {
  transform: scale(1.07);
  transition: 1s
  ease-out;
}

@media screen and (max-width: 1110px) {
  .profile-details {
    padding: 0 25px 0 0;
  }
  
  .profile-details-name {
    font-size: 20px;
  }

  .profile-details-role .primary-text {
    font-size: 12px;
  }

  .profile-options .btn {
    width: 120px;
    z-index: 700;
  }
}

@media screen and (max-width: 910px) {
  .profile-picture {
    height: 50%;
    width: 50%;
  }
}

@media screen and (max-width: 810px) {
  .profile-container {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .profile-details {
    border: none;
    padding: 30px 0;
  }

  .profile-picture {
    height: 150px;
    width: 150px;
  }

  .profile-parent {
    flex-direction: column-reverse;
  }

  .profile-options, .profile-details-role {
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  .profile-picture {
    height: 120px;
    width: 120px;
  }

  .profile-details-role {
    margin: 0;
    padding: 0;
  }

  .profile-options > a {
    margin: 10px;
  }
}

@media screen and (max-width: 350px) {
  .profile-picture {
    height: 120px;
    width: 120px;
  }

  .colz .colz-icon i {
    font-size: 20px;
  }

  .profile-details-name {
    font-size: 18px;
  }

  .profile-details-role h1 {
    font-size: 30px;
  }
}
