body {
    background-color: RGB(98, 114, 100);
    margin: 0px;
    font-family: montserrat, sans-serif;
}
#inicio{
    font-family: montserrat, sans-serif;
    text-align: center;
}
#description{
    font-family: montserrat, sans-serif;
    text-align: left;
    margin-top: 80px;
    padding-left: 180px;
}
#foto{
    float: left;
    padding: 5px;
    background-color: black;
    border-radius: 100px;
}
.ul1{
    font-size:22px;
}
.ul2{
    font-size: 20px;
}
.ul3{
    font-size: 18px;
}
.ul4{
    font-size: 16px;
}
.ul5{
    font-size: 14px;
}
.ul6{
    font-size: 12px;
}
.uli{
    background-color: blue;
}