header {
  align-items: center;
  background-color: #FF5823;
  display: flex;
  flex-wrap: wrap;
  font-family: "Poppins SemiBold";
  justify-content: flex-end;
  height: 20vh;
  text-align: center;
  width: 100vw;
}

header > a {
  background-color: #24263B;
  border-radius: 25px;
  color: #FFF;
  margin: 10px;
  padding: 7px 30px;
  text-align: center;
  text-decoration: none;
}

header > a:hover {
  background-color: #FFF;
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 810px) {
  header {
    justify-content: center;
  }
}
