header {
  align-items: center;
  background-color: #FF5823;
  display: flex;
  flex-wrap: wrap;
  font-family: "Poppins SemiBold";
  justify-content: flex-end;
  min-height: 10vh;
  text-align: center;
  width: 100vw;
}

header>svg {
  align-self: center;
  margin: 4vh auto;
  display: none;
  /* Hide by default */
}

header>nav {
  display: flex;
  /* Show by default */
  flex-direction: row;
  opacity: 1;
  transition: max-height 0.7s ease-in-out, opacity 0.7s ease-in-out;
  max-height: none;
  overflow: visible;
}

header>nav.show {
  display: flex;
  max-height: 500px;
  /* Adjust as needed */
  opacity: 1;
}

header>nav.hide {
  display: flex;
  max-height: 0;
  opacity: 0;
}

header>nav>a {
  background-color: #24263B;
  border-radius: 25px;
  color: #FFF;
  margin: 10px;
  padding: 7px 30px;
  text-align: center;
  text-decoration: none;
}

header>nav>a:hover {
  background-color: #FFF;
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 810px) {
  header {
    flex-direction: row;
    justify-content: center;
    height: 10vh;
  }

  header>svg {
    display: block !important;
    /* Show dropdown button on mobile */
  }

  header>nav {
    display: none;
    /* Hide navbar by default on mobile */
    width: 100%;
  }

  header>nav.show {
    display: flex;
  }

  header>nav>a {
    border: 1px solid #24263B;
    border-radius: 0;
    margin: 0;
    padding: 10px 5px;
    position: relative;
    width: 100%;
  }
}